<nav class="navbar">
    <ul>
        <li><a href="/">Dashboard</a></li>
        <li><a href="/manageDepartment">Create Depertment</a></li>
        <li><a href="/createEmploye">Create Employee</a></li>
    </ul>
</nav>