<%- include('./components/head.ejs') %>
    <link rel="stylesheet" href="/css/login.css">
    <title>Manage Department</title>
</head>
<body>
    <%- include('./components/navbar.ejs')%>

    <section class="login">
        <form action="/login" method="POST">
            <div class="form__control">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form__control">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="button-container">
                <button type="submit" class="btn">Log In</button>
            </div>
        </form>
    </section>
</body>
</html>