.manage{
    &__header {
        font-size: 2.2rem;
        text-align: center;
        margin-top: 3rem;
    }

    form{

        width: 80%;
        margin: 3rem auto;

        .form__control{
            margin-bottom: 3rem;
            display: block;
            label{
                width: 100%;
            }
            input{
                width: 100%;
                padding: 1rem;
            }
        }

        .btn-container{
            margin-top: 2rem;
            display: flex;
            justify-content: center;
        }
    }
}