

section {
    width: 80%;
    margin: 5rem auto;
}

.department {
    &__header {
        font-size: 2.2rem;
        text-align: center;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
}

.employee {
    &__header {
        font-size: 2.2rem;
        text-align: center;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
}

.line{
    margin: 3rem;
    border: 1px solid rgb(83, 83, 83);
}